body {
    background-color: black; /* Set the background color to black */
    color: white; /* Set text color to white */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white; /* Add border to the container */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-segments {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button-box {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 50px;
}

.footer p {
    font-size: 14px;
    color: #666;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid white; /* Add border to the image container */
}

.footer-image {
    max-width: 100%;
    max-height: 100%;
}
